.filter-section-container {
    /* Padding, Margin, Positioning */
    @apply p-5;
    /* Shadow */
    @apply shadow-md;
    /* Background & Colors */
    @apply bg-white;
}

.filter-section-logo {
    /* font-size, thickness */
    @apply font-semibold text-5xl ;
    /* font colors */
    @apply text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
    /* Margin, Position */
    @apply mb-5;
}

.filter-section-items {
    /* Display */
    @apply grid grid-cols-3;
}